<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.resaurant_system">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resaurant_system"
        tools:targetApi="31">
        <activity
            android:name=".history"
            android:exported="false"
            android:label="Order History"/>
        <activity
            android:name=".ConfirmOrderIceCream"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrderPizza"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrderBurger"
            android:exported="false" />
        <activity
            android:name=".OrderIcecream"
            android:exported="false"
            android:label="Ordering a Ice Cream ($35.99)" />
        <activity
            android:name=".OrderPizza"
            android:exported="false"
            android:label="Ordering a Pizza ($37.99)" />
        <activity
            android:name=".OrderBurger"
            android:exported="false"
            android:label="Ordering a Burger ($36.99)" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="HFU Food Ordering 30395637">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>